---
const { instrumento } = Astro.props;
import ArrowRight from './icon/ArrowRight.astro';
import Marca from "./icon/Marca.astro";
import Tipo from "./icon/Tipo.astro";
import Precio from "./icon/Precio.astro";
import Pin from './icon/Pin.astro';
---

<div id="carousel" class="h-full w-[400px] m-2 flex-shrink-0 cursor-pointer">
 <div class="rounded-3xl overflow-hidden mb-4 h-[250px] relative img-brillo">
  <img 
  class="size-[100%] object-cover absolute" 
  src={`/instrumentos/instrumento-${instrumento.id}.png`}
  alt={instrumento.id}
/>
<span 
  class="absolute flex gap-2 top-3 left-4 border border-black text-xs rounded-xl px-4 py-2 
  font-semibold bg-black hover:text-white"
  >Detalles
  <ArrowRight />
</span>
</div>
<div class="flex flex-col gap-4">
<div class="gap-4 border-b-[1px] border-gray-400">

 <div class="flex items-center gap-2">
 <Marca class="text-white size-10"/>
 <h5 class="capitalize  text-white font-semibold">marca:
 <strong>{instrumento.marca}</strong>
 </h5>
</div>

  <div class="flex items-center gap-2">
  <Tipo class="text-white size-10"/>
  <h5 class="capitalize  text-white font-semibold">tipo:
  <strong>{instrumento.tipo}</strong>
  </h5>
 </div>

  <div class="flex items-center gap-2">
  <Precio class="text-white size-10"/>
  <h5 class="capitalize text-white font-semibold">precio:
  <strong>{instrumento.precio}</strong>
  </h5>
</div>
</div>
</div>
<div class="flex flex-col p-2  text-white">
  <h5 class="text-2xl capitalize font-semibold">{instrumento.modelo}</h5>
  <h5 class="text-xl capitalize font-semibold">Origen: {instrumento.origen}</h5>
  <span class="text-lg font-semibold">{instrumento.operacion}</span>
<div class="flex gap-2">
  <span> Materiales: {instrumento.diapason}, {instrumento.material}</span>
<Pin/>
</div>
</div>
</div>

<style>
  .img-brillo::after{
   position: absolute;
   top: 0;
   left: -75%;
   z-index: 2;
   display: block;
   content: '';
   width: 50%;
   height: 100%;
   background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
   );
   transform: skewX(-20deg);
  }
  .img-brillo img {
  transition: transform 0.5s;
  }
  .img-brillo:hover {
  img {
    transform: scale(1.1);
  }
}

  .img-brillo:hover:after {
      animation: imgBrillo 1s;
  }
  @keyframes imgBrillo {
    100% {
      left: 125%;
    }
  }
</style>